@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sign-up-form {
  z-index: 2;
}

form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  color: #000000;
}

.btn {
  width: 150px;
  background-color: #3aa125;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #166806;
}

.verification-modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 30px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.verification-code-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.verification-digit-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 0 4px;
  background-color: #fff;
  color: #000;
}

.verification-digit-input:focus {
  border-color: #007bff;
  outline: none;
}

.verify-signup-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  width: 100%;
}

.verify-signup-message {
  color: green;
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: #d7f8da;
  border: 1px solid #cff5c6;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 350px;
}

.message {
  color: green;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  background-color: #d7f8da;
  border: 1px solid #cff5c6;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 350px;
}

.verif-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.verif-message .verif-img {
  width: 20px;
  height: 20px;
}

.message.error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  margin: 10px 0;
}

.error-popup,
.warning-message {
  color: red;
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  right: 0;
  margin: 20px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 350px;
  display: none;
}

.message-img {
  width: 20px;
  height: 20px;
}

.error-timer,
.warning-timer {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: warning-timer 5s linear;
}

.message-timer {
  width: 100%;
  height: 2px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: message-timer 5s linear;
}

@keyframes warning-timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes message-timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.verification-modal img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.verification-modal h2 {
  font-size: 1.5rem;
}

.verification-modal p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.display-darker {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.inputs-group {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  background-color: #fff;
}

span {
  color: #000000;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 6;
  padding: 50px;
}

.panel img {
  width: 500px;
}

.left-panel {
  pointer-events: all;
  gap: 10px;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #444;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  color: #444;
  background: none;
  border: 2px solid #000000;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    overflow: hidden;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
